p {
   font-size: 18px;
   line-height: 1.5;
}

img[alt=post-image] { 
	float: right; 
	display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
